<section id="content">
    <div class="main padder">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
          <section class="panel">
            <header class="panel-heading text-center">
              Registration isn't open yet, but if you email <a href="mailto:us@sameboat.ca">us@sameboat.ca</a> we might be able to set you up to test our app!
            </header>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <%= link_to('Sign in', new_user_session_path, :class => "btn btn-white btn-block")  %>
          </section>
        </div>
      </div>
    </div>
  </section>