<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-8">
	        <section class="panel">
	          <div class="panel-body">
	            <div id="map-canvas" style="height:400px">
	            </div>
	          </div>
	        </section>
	      </div>
	      <div class="col-md-4">
	        <section class="panel">
	          <header class="panel-heading">Real-time Schedules</header>
	          <div class="panel-body">
							<div class="table-responsive">
		            <table id="schedules_table" class="table table-striped m-b-none">
		              <thead>
		                <tr>
		                  <th width="20%">Arriving</th>
		                  <th width="80%">Stop Title</th>
		                </tr>
		              </thead>
		              <tbody>
		              </tbody>
		            </table>
            	</div>	          
          	</div>
	        </section>
	      <div class="col-md-6">
	      </div>
	    </div>
	  </div>
	</section>
</section>

<script>
  $( document ).ready(function() {
    $(geolocation);
  });
</script>
