<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-12">
	        <section class="panel">
	          <div class="panel-body">
	            <div id="map-canvas" style="height:400px">
	            </div>
	          </div>
	        </section>
	      </div>
	      <div class="col-md-6">
	      </div>
	    </div>
	  </div>
	</section>
</section>

<script>
  $( document ).ready(function() {
    $(geolocation);
  });
</script>
