<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-12">
	      <span id="countdown"></span>
	        <section class="panel">
	          <header class="panel-heading">Real-time Schedules</header>
	          <div class="panel-body">
	          <section id="schedule">
							<div style="margin-left:auto;margin-right:auto;text-align:center;">
								<%= image_tag("loader.gif", :class => "table-loader", :style => "max-height:15px;") %>
							</div>
							<div class="table-responsive hide">
		            <table id="schedules_table" class="tablesorter table table-striped">
		              <thead>
		                <tr>
		                	<th class=""><i class="fa fa-code-fork"></i></th>
		                	<th class="th-sortable"><i class="fa fa-clock-o"></i></th>
		                	<th class="">Stop <i class="pull-right fa fa-dot-circle-o"></i></th>
		                	<th class="">Heading <i class="pull-right fa fa-arrows"></i></th>
		                </tr>
		              </thead>
		              <tbody>
		              </tbody>
		            </table>
		            </section>
            	</div>	          
          	</div>
	        </section>
        </div>
	      <div class="col-md-12">
	        <section class="panel">
	          <div class="panel-body">
	            <div id="map-canvas" style="height:350px">
	            </div>
	          </div>
	        </section>
	      </div>
	    </div>
	  </div>
	</section>
</section>

<script>
  $( document ).ready(function() {
    $(geolocation);
  });

  setTimeout(function() {
  	$('table#schedules_table').tablesorter({
			headers: {
        0: { sorter: false},
        1: { sorter: 'time'},
        2: { sorter: false},
        3: { sorter: false}
    	}
  	});
  }, 4000);

  setTimeout(function() {
  	$('table#schedules_table').trigger('update');
  	$('.table-responsive').removeClass('hide');
  	$('.table-loader').hide();
  }, 5000);

</script>



