<style type="text/css">
	@media only screen and (max-width: 800px) {
	#schedule table td:nth-child(3), 
	#schedule table th:nth-child(3) {display: none;}
}
 
@media only screen and (max-width: 640px) {
	#schedule table td:nth-child(5),
	#schedule table th:nth-child(5){display: none;}
}
</style>

<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-12">
	        <section class="panel">
	          <header class="panel-heading">Real-time Schedules</header>
	          <div class="panel-body">
	          <section id="schedule">
							<div class="table-responsive">
		            <table id="schedules_table" class="table table-striped m-b-none">
		              <thead>
		                <tr>
		                	<th class="branch_th">Branch</th>
		                	<th class="title_th">Title</th>
		                	<th class="heading_th">Heading</th>
		                	<th class="departure_th" width="15%">Departs in</th>
		                </tr>
		              </thead>
		              <tbody>
		              	<tr>
		              	</tr>
		              </tbody>
		            </table>
		            </section>
            	</div>	          
          	</div>
	        </section>
        </div>
	      <div class="col-md-12">
	        <section class="panel">
	          <header class="panel-heading">
              <form class="m-b-none">
                <div class="input-group-btn">                  
                  <input type="text" id="start-from" class="input-sm form-control" placeholder="Coming from...">
                </div>
                <div style="padding:5px;"></div>              
                <div class="input-group">                  
                  <input type="text" id="end-to" class="input-sm form-control" placeholder="Going to...">
                  <span class="input-group-btn">
                  	<button class="btn btn-sm btn-white" type="submit">
                  		<%= link_to_function "Go", "calcRoute();" %>
              	    </button>
              	</span>
                </div>
              </form>
	          </header>
	          <div class="panel-body">
	            <div id="map-canvas" style="height:350px">
	            </div>
	          </div>
	        </section>
	      </div>
	      <div class="col-md-1"></div> <!-- for centre spacing -->
<!-- 	      <div class="col-lg-10">
	        <section class="panel">
	          <div class="panel-body">
	          	<div class="padder m-t m-b">
				        <div class="timeline">
				          <article class="timeline-item active">
				              <div class="timeline-caption">
				                <div class="panel bg bg-primary">
				                  <span class="timeline-icon"><i class="fa fa-bell-o time-icon bg-primary"></i></span>
				                  <span class="timeline-date">7:30 am</span>
				                  <h5>
				                    <span>Wake up</span>
				                    Me
				                  </h5>
				                  <div class="m-t-small timeline-action">
				                    <span class="h3 pull-left m-r-small">4:51</span>
				                    <button class="btn btn-sm btn-white"><i class="fa fa-pause"></i> Pause</button>
				                    <button class="btn btn-sm btn-white"><i class="fa fa-check"></i> Confirm</button>
				                  </div>
				                </div>
				              </div>
				          </article>
				          <article class="timeline-item">
				              <div class="timeline-caption">
				                <div class="panel arrow arrow-left">
				                  <span class="timeline-icon"><i class="fa fa-mobile-phone time-icon bg-primary"></i></span>
				                  <span class="timeline-date">12:25 am</span>
				                  <h5>
				                    <span>Call to</span>
				                    Jason Cokde (021-254-3523)
				                  </h5>            
				                </div>
				              </div>
				          </article>
				          <article class="timeline-item alt">
				              <div class="timeline-caption">                
				                <div class="panel arrow arrow-right">
				                  <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
				                  <span class="timeline-date">10:00 am</span>
				                  <h5>
				                    <span>Appointment</span>
				                    Carmark Sook (.inc company)
				                  </h5>
				                  <p>Morbi nec nunc condimentum, egestas dui nec, </p>
				                </div>
				              </div>
				          </article>          
				          <article class="timeline-item">
				              <div class="timeline-caption">                
				                <div class="panel arrow arrow-left">
				                  <span class="timeline-icon"><i class="fa fa-plane time-icon"></i></span>
				                  <span class="timeline-date">8:00 am</span>
				                  <h5>
				                    <span>Fly to</span>
				                    Newyork City
				                  </h5>
				                  <p>82°, Very hot with some sun</p>
				                </div>
				              </div>
				          </article>
				          <article class="timeline-item alt">
				              <div class="timeline-caption">                
				                <div class="panel arrow arrow-right">
				                  <span class="timeline-icon"><i class="fa fa-file-text time-icon bg-info"></i></span>
				                  <span class="timeline-date">9:30 am</span>
				                  <h5>
				                    <span>Meeting</span>
				                    Office A - 2 floor
				                  </h5>
				                  <p>Iaculis lorem justo porttitor orci. Vivamus vestibulum tortor augue. Donec elementum mollis velit.</p>
				                </div>
				              </div>
				          </article>
				          <article class="timeline-item">
				              <div class="timeline-caption">
				                <div class="panel arrow arrow-left">
				                  <span class="timeline-icon"><i class="fa fa-code time-icon"></i></span>
				                  <span class="timeline-date">9:00 am</span>
				                  <h5>
				                    <span>Work on</span>
				                    Web application project
				                  </h5>
				                  <p>Iaculis lorem justo porttitor orci. Donec elementum mollis velit.</p>
				                </div>
				              </div>
				          </article>
				          <div class="timeline-footer"><a href="#"><i class="fa fa-plus time-icon inline-block bg-default"></i></a></div>
				        </div>
      				</div>
	          </div>
	        </section>
	      </div> -->
	      <div class="col-md-1"></div> <!-- for centre spacing -->
	    </div>
	  </div>
	</section>
</section>

<script>
  $( document ).ready(function() {
    $(geolocation);
  });
</script>



