<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-8">
	        <section class="panel">
	          <header class="panel-heading">
                <form class="m-b-none">
                  <div class="input-group-btn">                  
                    <input type="text" id="start-from" class="input-sm form-control" placeholder="Search">
<!--                         <span class="input-group-btn">
                        	<button class="btn btn-sm btn-white">
                        		<%= link_to main_app.root_path do %>
                      				<i class="icon-location-arrow"></i>
                    	    	<% end -%>
                    	    </button>
                    	</span>
 -->                  </div>
                  <div style="padding:5px;"></div>              
                  <div class="input-group">                  
                    <input type="text" id="end-to" class="input-sm form-control" placeholder="Search">
                    <span class="input-group-btn">
                    	<button class="btn btn-sm btn-white" type="submit">
                    		<%= link_to_function "Go", "calcRoute();" %>
                	    </button>
                	</span>
                  </div>
                </form>
	          </header>
	          <div class="panel-body">
	            <div id="map-canvas" style="height:350px">
	            </div>
	          </div>
	        </section>
	      </div>
  	      <div class="col-md-4">
	        <section class="panel">
	          <header class="panel-heading">Directions</header>
	          <div class="panel-body">
	            <div id="directions-panel" style="height:402px">
	            </div>
	          </div>
	        </section>
	      </div>
	      <div class="col-md-6">
	      </div>
	    </div>
	  </div>
	</section>
</section>

<script>
  $( document ).ready(function() {
    $(geolocation);
  });
</script>