<div id="control">
	<strong>Start:</strong>
		<select id="start" onchange="calcRoute();">
		<option value="100 Queens Park Toronto, ON">The ROM</option>
		<option value="301 Front St W Toronto, ON">CN Tower</option>
		<option value="1 Blue Jays Way Toronto, ON">Rogers Centre</option>
		<option value="27 King's College Circle, Toronto, ON">U of T (St. George)</option>
		<option value="350 Victoria St Toronto, ON">Ryerson University</option>
		<option value="770 Don Mills Rd Toronto, ON">Ontario Science Centre</option>
		<option value="3401 Dufferin St Toronto, ON">Yorkdale Mall</option>
		<option value="1800 Sheppard Ave E Toronto, ON">Fairview Mall</option>
		<option value="200 Elizabeth St Toronto, ON">Toronto General Hospital</option>
		<option value="789 Yonge St Toronto, ON">Toronto Reference Library</option>
		<option value="101 College St Toronto, ON">MaRS Discovery District</option>
		<option value="	40 Bay St Toronto, ON">Air Canada Centre</option>
	</select>
	<strong>End:</strong>
	<select id="end" onchange="calcRoute();">
		<option value="100 Queens Park Toronto, ON">The ROM</option>
		<option value="301 Front St W Toronto, ON">CN Tower</option>
		<option value="1 Blue Jays Way Toronto, ON">Rogers Centre</option>
		<option value="27 King's College Circle, Toronto, ON">U of T (St. George)</option>
		<option value="350 Victoria St Toronto, ON">Ryerson University</option>
		<option value="770 Don Mills Rd Toronto, ON">Ontario Science Centre</option>
		<option value="3401 Dufferin St Toronto, ON">Yorkdale Mall</option>
		<option value="1800 Sheppard Ave E Toronto, ON">Fairview Mall</option>
		<option value="200 Elizabeth St Toronto, ON">Toronto General Hospital</option>
		<option value="789 Yonge St Toronto, ON">Toronto Reference Library</option>
		<option value="101 College St Toronto, ON">MaRS Discovery District</option>
		<option value="	40 Bay St Toronto, ON">Air Canada Centre</option>
	</select>
</div>

<div id="directions-panel"></div>
<div id="map-directions"></div>
