<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-12">
	    	<section class="panel">
	        	<header class="panel-heading">Vehicle Locations</header>
          		<div class="panel-body">
          			<div id="locations-map" style="height:350px"></div>
          		</div>	          
        	</section>
    	  </div>
	    </div>
	  </div>
	</section>
</section>

<script>

  // $( document ).ready(function() {
    // $(geolocation);
  // });

</script>



